/nvim-data/
/nushell/history.txt
/nushell/ssh.nu
/nvim/lazy-lock.json
/yazi/state
/yazi/plugins
/yazi/flavors
/wezterm/backdrops/*
!/wezterm/backdrops/longmao.jpeg
!/wezterm/backdrops/h7_bai.png
/wezterm.bak/
/lazygit/state.yml
/clipse/tmp_files
/clipse/clipboard_history.json
/clipse/clipse.log
