" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5
" 共享剪切板
set clipboard^=unnamed,unnamedplus
" Do incremental searching.
set incsearch

" Highlight copied text
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'vim-scripts/ReplaceWithRegister'
Plug 'preservim/nerdtree'

Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'vim-scripts/ReplaceWithRegister'
Plug 'preservim/nerdtree'

" Don't use Ex mode, use Q for formatting.
map Q gq
let mapleader = "\<Space>"  " 设置空格键为 Leader 键
nnoremap <leader>c :action CloseEditor<CR>
nnoremap H :action PreviousTab<CR>
nnoremap L :action NextTab<CR>
nnoremap <leader>w :action SaveAll<CR>
nnoremap <leader>/ :action CommentByLineComment<CR>
vnoremap <leader>/ :action CommentByLineComment<CR>
nmap gr <action>(GotoImplementation)
" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

nnoremap <leader>o :NERDTreeFocus<CR>
nnoremap <C-j> :NERDTree<CR>
nnoremap <leader>e :NERDTreeToggle<CR>
" nnoremap <C-f> :NERDTreeFind<CR>

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
