@import "colors.css";

* {
  min-height: 0;
  min-width: 0;
  font-family: "Maple Mono NF CN", sans-serif;
  font-size: 14px;
}

window#waybar {
  background-color: @primary_fixed;
  /* background: transparent; */
  /* box-shadow: 0 4px 30px rgba(166, 173, 200, 0.9); */
  border: none;
  border-radius: 0px 0px 100px 100px;
}

#workspaces {
  border-radius: 0 100px 0 100px;
  /* border: 2px solid @on_yellow; */
  margin: 0.2rem;
  padding: 0.2rem 1rem;
  background: @primary;
  font-weight: bold;
}

#workspaces button {
  background-color: @tertiary;
  border-radius: 100px;
  transition: all 0.3s;
  margin: 0.1rem 0.2rem;
  padding: 0 0.3rem;
  min-width: 1rem;
}

#workspaces button.empty {
  background: @outline;
}

#workspaces button.active {
  background: @on_primary;
  min-width: 2rem;
}

#workspaces button.urgent {
  color: blueviolet;
}

#taskbar {
  background-color: @outline;
  margin: 0.2rem;
  padding: 0 1rem;
  border-radius: 0 100px 0 100px;
  transition: all 0.2s;
}

#taskbar.empty {
  background-color: transparent;
}

#taskbar button {
  background-color: @transparent;
  margin: 1px 3px;
  padding: 0 4px;
  font-weight: bolder;
  color: @foreground;
  border: none;
  border-radius: 0;
  transition: all 0.5s;
}

#taskbar button:hover {
  background-color: @transparent;
  box-shadow: @background-transparent 0 5 0 0;
  transition: all 0.3s;
}

#taskbar button.minimized {
  background-color: @overlay;
  border-radius: 10px;
}

#taskbar button.urgent {
  box-shadow: @red 0 5 0 0;
  background-color: transparent;
  padding: 0 8px;
  border-radius: 10px;
}

#taskbar button.active {
  background-color: transparent;
  box-shadow: @error_container 0 2 0 0;
}

#clock,
#pulseaudio,
#custom-notification,
#custom-setwallpaper,
#battery,
#cava,
#cpu,
#tray,
#memory,
#network,
#window,
#mpris {
  min-height: 0;
  min-width: 0;
  padding: 0 0.4rem;
  border-radius: 15px;
  margin: 0.2rem;
  background-color: @surface;
  color: @on_primary_fixed;
}

#mpris,
#mpris.playing,
#mpris.paused {
  background-color: transparent;
}
#mpris.playing {
  color: #1e1e2e;
}
#mpris.paused {
  color: @on_surface_variant;
}

#cava {
  color: @error;
}

window#waybar.empty #window {
  background-color: transparent;
}
window#waybar.fullscreen #window {
  color: @on_primary_fixed;
}

#cpu,
#memory,
#clock,
#network,
#window,
#pulseaudio,
#pulseaudio.muted,
#custom-notification {
  background-color: transparent;
  color: #000;
}

#tray {
  border-radius: 100px 0 100px 0;
  background: @on_primary;
  color: @on_surface;
  padding: 0 1.5rem;
}

#battery {
  background-color: @primary;
  color: @surface_container_lowest;
  border-radius: 100px 0 100px 0;
  padding: 0 1rem;
}

tooltip {
  background-color: @surface_container_highest;
  border: 2px solid @primary;
  color: @on_surface;
}
