@import "colors.css";

/* You can now use all the color variables inside the file. */
/* 您现在可以使用文件中的所有颜色变量。 */

* {
  min-height: 0px;
  min-width: 0px;
  font-family: "Maple Mono NF CN", sans-serif;
  font-size: 14px;
  /* font-weight: 600; */
  /*background: transparent;*/
}

window#waybar {
  /*background-color: rgba(*/
  /*  127,*/
  /*  132,*/
  /*  156,*/
  /*  0.8*/
  /*);*/
  /*opacity: 0.7;*/
  background-color: @primary_fixed;
  box-shadow: 0 4px 30px rgba(166, 173, 200, 0.9); /* Optional shadow to enhance the effect */
  border-radius: 10px; /* Optional rounded corners */
}

#workspaces {
  border-radius: 0.4rem;
  border: 0px;
  margin: 0.2rem;
  padding: 0.2rem 0.3rem;
  background: #585b70;
  font-weight: bold;
  font-style: normal;
}

#workspaces button {
  background-color: @tertiary;
  border-radius: 10px;
  transition: all 0.3s;
  box-shadow: inherit;
  text-shadow: inherit;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  min-width: 1rem;
}

/**/
/* #workspaces button:focused { */
/*   background: #ffffff; */
/* } */

#workspaces button.empty {
  background: @outline;
}

#workspaces button.active {
  background: @primary;
  min-width: 2rem;
}

#workspaces button.urgent {
  color: @on_error;
}

#clock,
#pulseaudio,
#custom-notification,
#custom-setwallpaper,
#battery,
#cava,
#cpu,
#tray,
#memory,
#network,
#window,
#mpris {
  min-height: 0px;
  min-width: 0px;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0.4rem; /* 调整内边距 */
  padding-right: 0.4rem; /* 调整内边距 */
  border-radius: 15px;
  margin: 0.2rem; /* 均匀外边距 */
  background-color: @surface;
  color: @on_primary_fixed;
}

#mpris {
  background-color: transparent;
}

#mpris.playing {
  background-color: transparent;
  color: #1e1e2e;
}

#mpris.paused {
  color: @on_surface_variant;
  background-color: transparent;
}

#cava {
  color: @error;
}

window#waybar.empty #window {
  background-color: transparent;
}
window#waybar.fullscreen #window {
  color: @on_primary_fixed;
}
#cpu {
  background-color: transparent;
  /*color: @outline;*/
}

#memory {
  background-color: transparent;
  /*color: @outline;*/
}

#clock {
  background-color: transparent;
  /*color: @outline;*/
}

#network {
  background-color: transparent;
  /*color: @outline;*/
}

#window {
  background-color: transparent;
  color: #000000;
}

#pulseaudio {
  background-color: transparent;
  /*color: @on_surface;*/
}

#pulseaudio.muted {
  background-color: transparent;
  color: @on_surface;
}

#custom-notification {
  background-color: transparent;
  color: #000000;
}

#tray {
  border: 0px solid black;
  background: @on_primary;
  color: @on_surface;
  border-radius: 10px;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

#battery {
  background-color: @primary;
  color: @surface_container_lowest;
  font-size: 14px;
  border-radius: 10px;
}

tooltip {
  background-color: @surface_container_highest;
  border: 2px solid @primary;
  color: @on_surface;
}
