* {
  min-height: 0px;
  min-width: 0px;
  font-family: "Maple Mono NF CN", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  background-color: rgba(
    127,
    132,
    156,
    0.8
  ); /* Semi-transparent white background */
  box-shadow: 0 4px 30px rgba(166, 173, 200, 0.9); /* Optional shadow to enhance the effect */
  border-radius: 10px; /* Optional rounded corners */
}
#workspaces {
  border-radius: 10px;
  border: 0px;
  font-weight: bold;
  font-style: normal;
  opacity: 0.85;
  font-size: 16px;
  margin: 0.2rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  background: #585b70;
}

#workspaces button {
  border-radius: 10px;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces button.active {
  background-color: #89b4fa;
  color: #1e1e2e;
  min-width: 20px;
  opacity: 1;
}

#workspaces button.urgent {
  color: #ffffff;
}

#clock,
#pulseaudio,
#custom-notification,
#custom-setwallpaper,
#battery,
#cava,
#cpu,
#tray,
#memory,
#network,
#window,
#mpris {
  min-height: 0px;
  min-width: 0px;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0.4rem;
  /* 调整内边距 */
  padding-right: 0.4rem;
  /* 调整内边距 */
  border-radius: 15px;
  margin: 0.2rem;
  /* 均匀外边距 */
  background-color: #1e1e2e;
  /* 马卡龙暖橙 */
  color: #1e1e2e;
}

#mpris.playing {
  background-color: transparent;
  color: #45475a;
  /* Mocha Green */
}

#mpris.paused {
  color: #9399b2;
  background-color: transparent;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
  /* Mocha Surface2 */
}

#cava {
  color: #f9e2af;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  background-color: #94e2d5;
  /* Mocha Teal */
  color: #1e1e2e;
}

#memory {
  /*background-color: #cba6f7;*/
  background-color: transparent;
  /* Mocha Lavender */
  color: #1e1e2e;
}

#clock {
  /*background-color: #b4befe;*/
  background-color: transparent;
  /* Mocha Light Blue */
  color: #1e1e2e;
}

#network {
  background-color: transparent;
  /* Mocha Green */
  color: #1e1e2e;
}

#window {
  background-color: transparent;
  /* 马卡龙粉 */
  color: #1e1e2e;
}

#pulseaudio {
  background-color: transparent;
  /* Mocha Blue */
  color: #1e1e2e;
}

#pulseaudio.muted {
  background-color: transparent;
  /* Mocha Subtext0 */
  color: #1e1e2e;
}

#custom-notification {
  background-color: transparent;
  /* Mocha Red */
  color: #1e1e2e;
  /* 高对比 */
  /*padding-left: 0.7rem;*/
  /*font-size: 14px;*/
}

#tray {
  border: 0px solid black;
  /*background-color: #cba6f7;*/
  /*background-color: transparent;*/
  background: #585b70;
  /*opacity: 0.2;*/
  /* Mocha Lavender */
  color: #1e1e2e;
  border-radius: 10px;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

#custom-setwallpaper {
  border-radius: 50%;
  background-color: transparent;
  /* 马卡龙暖橙 */
  color: #1e1e2e;
  /*padding-left: 0.8rem;*/
  /*padding-right: 0.8rem;*/
  /*font-size: 14px;*/
}

#battery {
  background-color: #ea9a97;
  /* Mocha Red */
  color: #ffffff;
  /* 提高对比度 */
  font-size: 14px;
  border-radius: 10px;
}

tooltip {
  background-color: #181825;
  /* Mocha Crust */
  border: 2px solid #89b4fa;
  /* Mocha Blue */
  color: #cdd6f4;
  /* Mocha Text */
}
